<main class="w-full grid grid-cols-1 place-items-center mt-6">
    <div class="max-w-5xl w-full">
        <div class="flex flex-row justify-between">
            <h1 class="text-4xl">Account</h1>
        </div>
        <div class="flex gap-12 mt-[50px] p-5 bg-slate-300 rounded-[5px]">
            <div class="flex flex-col w-[500px]">
                <label>FirstName</label>
                <input [(ngModel)]="user.firstName" type="text"[value]="user.firstName" type="text">
                <label>Lastname</label>
                <input [(ngModel)]="user.lastName" [value]="user.lastName" type="text">
                <label>Email</label>
                <input [(ngModel)]="user.email" [value]="user.email" type="email">
                <app-update-button [user] = "user"></app-update-button>
            </div>
            <div class="flex flex-col">
                <label>Phone Number</label>
                <input  [(ngModel)]="user.phoneNumber" [value]="user.phoneNumber" type="tel" class="w-[300px]">
                <label>Date of Birth</label>
                <input  [(ngModel)]="user.dateOfBirth" [value]="user.dateOfBirth" type="date" class="w-[200px]">
                <label>Country of Residence</label>
                <input [(ngModel)]="user.country" [value]="user.country" type="text">
                <label>Zip Code / Postal Code</label>
                <input [(ngModel)]="user.zipCode" [value]="user.zipCode" type="number" class="w-[200px]">
            </div>
        </div>
    </div>
</main>
