<main class="w-full grid grid-cols-1 place-items-center mt-6">
    <div *ngIf="role" class="w-[1000px]">
        <h2 class="text-4xl">Edit shipments</h2>
        <app-shipment-item *ngFor="let shipment of shipments" [shipment]="shipment">{{shipment}}</app-shipment-item>
    </div>
    <div *ngIf="!role">
        <h2 class="text-4xl">Your shipment history</h2>
        <app-shipment-item *ngFor="let shipment of shipments" [shipment]="shipment">{{shipment}}</app-shipment-item>
    </div>
</main>