<div (click)="modalService.showShipmentModal = false" class="fixed grid place-items-center w-screen h-screen bg-black/25 z-10"></div>
<div class="fixed flex justify-center m-auto left-0 right-0 top-0 bottom-0 bg-slate-400 w-[250px] h-[250px] rounded-[5px] z-20">
    <div class="flex flex-col">
        <form class="flex flex-col w-[150px] mt-[50px]">
            <label>Status</label>
            <select name="status" [(ngModel)]="tmpStatus" class="h-[50px] rounded-[5px] px-5">
                <option *ngFor="let status of statuses" [ngValue]="status">{{status.name}}</option>
            </select>
        </form>
        <div class="flex justify-center mt-5">
            <button (click)="updateStatus()" class="h-[50px] w-[150px] rounded-[5px] bg-slate-500">Save status</button>
        </div>
    </div>
</div>