<nav *ngIf="!role">
    <ul class="flex justify-evenly w-[500px] text-2xl">
        <li><a [routerLink]="'/'">Home</a></li>
        <li><a [routerLink]="'/shipments'">My shipments</a></li>
        <li><a [routerLink]="'/account'">Account</a></li>
    </ul>
</nav>
<nav *ngIf="role">
    <ul class="flex justify-evenly w-[500px] text-2xl">
        <li><a [routerLink]="'/'">Home</a></li>
        <li><a [routerLink]="'/shipments'">Shipments</a></li>
        <li><a [routerLink]="'/settings'">Settings</a></li>
    </ul>
</nav>
