<header class="h-[150px] flex justify-between items-center">
    <h1 class="text-5xl indent-[50px] ">Boxinator</h1>
    <app-navbar *ngIf="authenticated"></app-navbar>
    <app-sign-in-button></app-sign-in-button>
</header>