<div id="xc" style="display:none" class="bg-green-100 border-t border-b border-green-500 text-green-700 px-4 py-3" role="alert">
  <p id="x"  style ="display:none" class="font-bold">Your shipment order has been successfully sent to your email. Thank you!</p>
</div>
<div (click)="modalService.showModal = false" class="fixed grid place-items-center w-screen h-screen bg-black/25 z-10"></div>
<div class="fixed flex justify-center m-auto left-0 right-0 top-0 bottom-0 bg-slate-400 w-[750px] h-[700px] rounded-[5px] z-20">
    <div class="flex flex-col">
        <form #shipmentForm="ngForm" (ngSubmit)="sendShipment(shipmentForm)" class="flex flex-col w-[500px] h-[700px]  mt-[50px]" action="#" method="post">
            <label>Receiver name</label>
            <span *ngIf="receiver.errors && (receiver.dirty || receiver.touched)">
                <p *ngIf="receiver.errors['required']" class="text-red-600">A receiver name is required</p>
            </span>
            <input required ngModel #receiver="ngModel" id="name" name="name" type="text" >
            <label>Destination country</label>
            <select [(ngModel)]="currCountry" ngModel #country="ngModel" id="country" name="country" type="text"class="h-[50px] rounded-[5px] px-5">
                <option *ngFor="let country of countries" [ngValue]="country.id">{{country.name}}</option>
            </select>

            <div *ngIf="!authenticated" class="flex flex-col">
                <label >Email</label>
                <span *ngIf="email.errors && (email.dirty || email.touched)">
                    <p *ngIf="email.errors['required']" class="text-red-600">You must enter a valid email.</p>
                </span>
                <input required ngModel #email="ngModel" id="email" name="email" type="email">
            </div>
            
            <div class="flex flex-row justify-center">
                <p class="px-5">Total Weight:</p>
                <p class="px-2" name="total_weight"  >{{totalWeight}} kg</p>
                <p class="px-5">Total Cost:</p>
                <p class="px-2" name="total_cost">{{totalCost}} kr</p>
            </div>

            <div class="overflow-y-scroll h-[250px]">
                <label>Package</label><br>
                <div *ngIf="packages" >
                    <div *ngFor="let package of packages">
                        <div class="grid grid-cols-2">
                            <div class="flex flex-col col-start-1 w-[150px]">
                                <label>Weight</label>
                                <input #weight [value]="package.weight" name="weight" (keyup)="changeWeight(package, weight.value);calculateWeight();calculatePrice();setTier(package)" type="number">
                            </div>
                            <div class="flex flex-col col-start-2 w-[150px]">
                                <label>Box color</label>
                                <select #color name="colors" (change)="changeColor(package, color.value)" class="h-[50px] rounded-[5px] px-5">
                                    <option *ngFor="let color of colors" [value]="color">{{color}}</option>
                                </select>
                            </div>
                            <div class="flex flex-col col-start-3 w-[150px]">
                                <Label>Remove</Label>
                                <button type="button" (click)="removePackageInput(package)" class="h-[50px] w-[50px] rounded-[5px] bg-slate-500">-</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <button type="button" (click)="addPackageInput()" class="h-[50px] w-[50px] rounded-[5px] bg-slate-500">+</button>

            <div class="flex justify-center">
                <button [disabled]="!shipmentForm.valid" value="send" type="submit" class="h-[50px] w-[150px] rounded-[5px] bg-slate-500" >Send shipment</button>
            </div>
        </form>


    </div>
</div>
