<li *ngIf="shipment" class="flex mt-5">
    <div class="flex flex-col gap-4 bg-slate-300 w-full rounded-[5px]">
        <button (click)="toggleItem()" class="grid grid-cols-4 w-full h-[50px] place-items-start py-3 px-5">
            <p>{{shipment.user?.firstName}}</p>
            <p>{{shipment.country?.name}}</p>
            <p>{{shipment.status[(shipment.status.length - 1)].name}}</p>
            <p>{{shipment.receiverName}}</p>
        </button>
        <div [hidden]="isHidden" class="bg-slate-200 w-[1000px] rounded-[5px]">
            <ul class="grid grid-cols-4 place-items-start px-5 gap-x-5">
                <p class="col-start-1">Packages</p>
                <div class="grid grid-cols-4 place-items-start col-start-1 col-span-2 w-full bg-slate-100 mb-5 p-5 rounded-[5px]">
                    <div>
                        <p class="mb-2">Id</p>
                        <li *ngFor="let package of shipment.packages">{{package.id}}</li>
                    </div>
                    <div>
                        <p class="mb-2">Tier</p>
                        <li *ngFor="let package of shipment.packages">{{package?.tier?.name}}</li>
                    </div>
                    <div>
                        <p class="mb-2">Color</p>
                        <li *ngFor="let package of shipment.packages">{{package.color}}</li>
                    </div>
                    <div>
                        <p class="mb-2">Weight</p>
                        <li *ngFor="let package of shipment.packages">{{package.weight}} kg</li>
                    </div>
                </div>
                <p class="mb-2 col-start-3 row-start-1">Statuses</p>
                <div class="bg-slate-100 w-full h-[calc(100%-20px)] mb-5 p-5 rounded-[5px]">
                    <li *ngFor="let status of shipment.status">{{status.name}}</li>
                </div>
                <p class="mb-2 col-start-4 row-start-1">Country</p>
                <div class="bg-slate-100 w-full h-[calc(100%-20px)] p-5">
                    <p>Name</p>
                    <p class="mb-5">{{shipment.country?.name}}</p>
                    <p>Rate</p>
                    <p>{{shipment.country?.rate}} kr</p>
                </div>
            </ul>
            <div *ngIf="role">
                <button *ngIf="router.url === '/shipments'"  (click)="modalService.showShipmentModal = true; modalService.shipment = shipment" class="w-[150px] h-[50px] ml-5 mb-5 rounded-[5px] bg-slate-400">
                    Edit
                </button>
            </div>
            
        </div>
    </div>
</li>