<main class="w-full grid grid-cols-1 place-items-center mt-6">
    
    <ng-container
        *ngIf="role; then hasRole;  else noRole">
    </ng-container>

    <ng-template #hasRole>
        <div class="w-[1000px]">
            <ul>
                <app-shipment-item *ngFor="let shipment of shipments" [shipment]="shipment">{{shipment}}</app-shipment-item>
            </ul>
        </div>
    </ng-template>

    <ng-template #noRole >
        <ng-container *ngIf="authenticated;  else loggedOut">
            <div class="max-w-5xl w-full flex flex-row justify-between">
                <div>
                    <h1 class="text-4xl">Your current shipments</h1>
                    <app-shipment-item class="max-w-[200px]" *ngFor="let shipment of shipments" [shipment]="shipment">{{shipment}}</app-shipment-item>
                </div>
                <app-new-shipment-button></app-new-shipment-button>
            </div>
        </ng-container>
    </ng-template>
    

    <ng-template #loggedOut>
        <div class="grid h-[calc(100vh-150px)] place-items-center">
            <app-new-shipment-button></app-new-shipment-button>
        </div>
    </ng-template>
    
</main>