<h2 class="text-4xl">Country settings</h2>
<div class="flex flex-col bg-slate-300  w-[750px] rounded-[5px] mt-5">
    <h3 class="text-2xl ml-5 mt-5">Update a country</h3>
    <form class="flex mt-5 mx-5 justify-between">
        <div class="flex flex-col">

            <label>Country</label>
            <input type="text" list="countries" name="nameEdit" class="w-[400px]" [(ngModel)]="currentCountry" (change)="onCountryChanged(currentCountry)">
                    <datalist id="countries">
                        <option *ngFor="let country of countries"
                        value={{country.name}}>
                        </option>
                    </datalist>
        </div>
        <div class="flex flex-col">
            <label>New fee</label>
            <input name="rateEdit" type="number" [(ngModel)]="editRate" class="w-[150px]" [value]="selectedCountry.rate" (change)="selectedCountry.rate = editRate">
        </div>
    </form>
    <button (click)="updateCountry()" class="h-[50px] w-[150px] rounded-[5px] bg-slate-500 ml-5 mb-5">Save</button>
</div>
<div class="flex flex-col bg-slate-300  w-[750px] rounded-[5px] mt-10">
    <h3 class="text-2xl ml-5 mt-5">Add a new country</h3>
    <form class="flex mt-5 mx-5 justify-between">
        <div class="flex flex-col">
            <label>Country</label>
            <input name="newName" [(ngModel)]="newCountry.name" type="text" class="w-[400px]">
        </div>
        <div class="flex flex-col">
            <label>Fee</label>
            <input name="newRate" [(ngModel)]="newCountry.rate" type="text" class="number" class="w-[150px]">
        </div>
    </form>
    <button class="h-[50px] w-[150px] rounded-[5px] bg-slate-500 ml-5 mb-5" (click)="addCountry()">Add</button>
</div>
