<button *ngIf="!authenticated"  class="h-[50px] w-[150px] bg-slate-400 rounded-[5px] text-xl mr-[50px]" (click)="handleLogin()" >
    Sign in
</button>

<button *ngIf="authenticated" class="h-[50px] w-[150px] bg-slate-400 rounded-[5px] text-xl mr-[50px]" (click)="handleLogout()" >
    Log out
</button>
